* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: linear-gradient(to top, #2f3545, #1d212c);
}
.computer::-webkit-scrollbar {
  display: none;
}
.Listcomputer::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar {
  width: 0.1rem;
  visibility: hidden;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

header {
  display: flex;
  /* justify-content: space-between; */
  height: 4rem;
  padding: 0 6rem;
  align-items: center;
  background-color: #151820;
  color: aliceblue;
  font-size: 1.5rem;
  box-shadow: 0 0.3rem 2.5rem 0rem #72134b;
}
#tvaultimage {
  display: flex;
  column-gap: 5px;
  align-items: center;
  width:15%;
}

a.active {
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
.nav{
  /* padding: 0 2rem; */
  width:64%;
}
.nav ul {
  display: flex;
  font-family: "Helvetica Neue";
  align-items: stretch;
  height: 4rem;
  padding-right: 3.5rem;
}
.nav a {
  width:20%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  /* height: 100%; */
  /* padding: 1.8rem 0.5rem; */
  font-size: 1rem;
  font-weight: 500;
}
.nav li {
  list-style: none;
  /* width: 9rem; */
}
a.active {
  cursor: pointer;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}

.nav a {
  height: 100%;
  text-decoration: none;
  color: #fff;
}
#accounts {
  display: flex;
  width:21%;
  font-size: 1rem;
  align-items: center;
justify-content: space-between;
  font-family: "Roboto";
}
#documents {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
#textcolor {
  color: #72134b;
}
#bodycontainer {
  padding: 5rem 9rem;
  color: #fff;
  border-top: 0;
  font-size: 1.5rem;
  height: calc(100vh - 4rem);
}
#bodycontainer p {
  font-size: 1.5rem;
  padding: 0.2rem;
}
#bodycontainer_safe {
  height: calc(100vh - 4rem);
  padding: 3rem 9rem;
  color: #fff;
}
#safes {
  display: flex;
  height: calc(100vh - 8rem);
  color: #fff;
  font-size: 1rem;
}
#allsafes {
  background-color: #151820;
  width: 40%;
  height:calc(100vh - 11rem);
  margin-top: 7px;
}
#safehead {
  display: flex;
  height:10%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #2a2e3e;
}
#safecard {
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-family: "Roboto";
  color: #fff;
  font-weight: bold;
}
#zero {
  color: #5e627c;
}
#searchbar {
  background-color: #20232e;
  display: flex;
}
#searchbar input {
  background: #20232e;
  border: none;
  width: 15rem;
  height: 1.5rem;
  outline: none;
  color: #fff;
  gap: 0;
  cursor: pointer;
}
#greytext {
  width: 10rem;
    height: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
  color: #8b8ea6;
}
.computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  height: 90%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  justify-content: center;
}
.Listcomputer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31rem;
  width:100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#image_computer {
  /* padding-top: 5rem; */
  /* padding-left: 2rem; */
  width: 11rem;
}
#list-create-image {
  position: absolute;
  bottom: 4.5rem;
  width: 50px;
  height: 50px;
  left: 30rem;
}
#create-image {
  margin-top: 1rem;
  padding-left: 4rem;
  width: 8rem;
}

#create-text {
  font-size: 0.9rem;
  /* padding: 0 0.5rem; */
}
#no-safes {
  text-overflow: ellipsis;
  font-family: "Roboto";
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  overflow: hidden;
  width: 21rem;
  height: 2rem;
}
#create-a-safe {
  text-overflow: ellipsis;
  font-family: "Roboto";
  color: #fff;
  font-size: 0.75rem;
  padding: 0.5rem 0;
  overflow: hidden;
  width: 25rem;
  height: 2rem;
}
#empty-container-secrets {
  position: absolute;
  top: 3.5rem;
  right: 8.5rem;
}
#container-secrets {
  width:21rem;
  position: absolute;
  top: 3rem;
  left: 17rem;
}
#head_secrets {
  height: 30%;
}
#secrets{
  height:calc(100vh - 10.5rem);
}
#secretshead {
  position: relative;
}
#secretshead img{
  width: 100%;
  height:10.4rem;
  
}
#secrets-bottom {
  width: 100%;
  height: 70%;
  padding: 1rem 2rem 3rem 2rem;
  background-image: linear-gradient(to bottom, #151820, #2c3040);
}
#bottom-indicator {
  position: relative;
  /* width: 47rem; */
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5e627c;
}
#navigation-secrets {
  height: 100%;
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
#navigation-secrets li {
  height: 100%;
  padding-bottom: 0.5rem;
  list-style: none;
  color: #5e627c;
}
#secrets-active {
  color: #fff;
  border-bottom: 5px solid #72134b;
}
#navigation-secrets li:hover {
  color: #fff;
  border-bottom: 5px solid #72134b;
}
#add-folders img {
  width: 1.5rem;
  display: flex;
}

#secretcount {
  padding: 0.5rem 0rem;
}
#locker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.7rem 16rem;
  align-items: center;
  text-align: center;
}
#locker-image {
  /* padding-top: 2rem; */
  height: 8.5rem;
  width:12rem;
}
#create-secrets {
  align-items: center;
  width: 5rem;
  justify-content: center;
  display: inline-block;
}
#add-secrets-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #5e627c;
  color: #fff;
  outline: none;
  border: none;
}
#locker-para {
  color: #5e627c;
}
#locker-para-span {
  color: #fff;
}
#add-secrets-pink {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #e20074;
  color: #fff;
  border: none;
  outline: none;
}
#add-secrets-image {
  height: 12px;
}
.save_before {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background: #454c5e;
  color: white;
  outline: none;
  border: none;
}

.save_after {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background: #e20074;
  color: white;
  outline: none;
  border: none;
}
.create_button_rose {
  background-color: #e20074;
  outline: none;
  border: none;
  color: white;
  margin-left: 0.5rem;
  padding: 0.3rem 1rem;
}

/* react components */

.popup {
  position: fixed;
  z-index: 1000;
  bottom: 7%;
  left: 30%;
  /* right: 25rem; */
  width: 45%;
  height: 80%;
  background-color: #2c3040;
  box-shadow: -15rem 15rem 50rem 50rem rgb(8 8 8 / 70%);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.popup-inner {
  justify-content: center;
    flex-direction: column;
    display: flex;
  box-sizing: border-box;
  width: 100%;
  height:100%;
  position: absolute;
  padding: 3rem;
}
.popup-inner button {
  padding: 0.5rem;
  color: #72134b;
  text-align: center;
  width: 5rem;
}
.popup-content {
  display: flex;
  column-gap: 1rem;
  padding: 1rem 0;
  font-size: 14px;
  color: #c4c4c4;
}
.popup-content img {
  width: 8rem;
}
#input_content_p {
  padding: 0.5rem 0;
  font-size: 0.75rem;
  cursor: pointer;
}
#input_content_caution {
  padding: 0.5rem 0;
  font-size: 11px;
  cursor: pointer;
}
#inputvalue,
#dropdown {
  height: 11%;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
}
#description {
  height: 16%;
  width: 100%;
  padding: 0.5rem;
  outline: none;
  cursor: pointer;
  resize: none;
}
#popup_button {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}
#popup_button b {
  font-size: 14px;
}
#popup_button_cancel {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: #e20074;
  background: #fff;
}
#popup_button_button {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: #5e627c;
  color: #fff;
}
#popup_button_rose {
  font-weight: bold;
  font-size: 1rem;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  background: #e20074;
  color: #fff;
}

#addfolder_popup {
  position: fixed;
  z-index: 1000;
  top: 15rem;
  left: 30rem;
  width: 35%;
  height: 18rem;
  padding: 2rem;
  box-shadow: -15rem 15rem 50rem 50rem rgb(8 8 8 / 60%);
  background-color: #2c3040;
}
#addfolder_popup h2 {
  text-align: left;
  padding-bottom: 1.5rem;
}
#inputfolder {
  text-align: left;
  color: #fff;
  font-size: 15px;
  padding: 0.4rem;
  padding-left: 0;
  cursor: pointer;
}
#caution {
  text-align: left;
  color: #5e627c;
  font-size: 10px;
  padding: 0.4rem;
  padding-left: 0;
}
#addfolder_popup input {
  cursor: pointer;
  padding: 0.5rem;
  height: 2.5rem;
  outline: none;
  width: 100%;
}
#popup_folder_button {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0;
  column-gap: 5px;
}
#popup_folder_button_button {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  text-align: center;
  color:#fff;
  font-size: 14px;
}
.safes-list:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #72134b, #1d212c);
}
.activesafe {
  width:100%;

  cursor: pointer;
  background-image: linear-gradient(to right, #72134b, #1d212c);
}
.listcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 4rem;
  text-overflow: ellipsis;
  padding: 1rem;
  position: relative;
  font-size: 12px;
}
.listcontainer:hover #editanddeletebutton_img{
  display:inline;
}
#shieldimage img {
  width: 45px;
  height: 45px;
}
#editanddeletebutton {
  padding-right: 0.5rem;
  display: flex;
  column-gap: 25px;
}
#editanddeletebutton_img {
  display: none;
  width: 15px;
  height: 15px;
}
#nameandowner {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
}
#safenameellipisis{
  width: 12rem;
display: flex;
  text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0.5rem;
}
.parent_secret{
  width:48rem;
}

.secrets_container{
  width:48rem;
}
.noresultfound{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
.noresultfound img {
  width:20rem;
  height:20rem;
}
.list_of_secrets{
  display:flex;
  justify-content: space-between;
column-gap: 0.75rem;
align-items: center;
color:#5e627c;
font-weight: 500;
padding:1rem;
height:4rem;
}
.folderIcon{ 
  display: inline-block;
  /* margin-top: 1rem; */
}
.folderIcon #pinkfolder{
display:none;
}
.list_of_secrets:hover #pinkfolder{
display: inline;
}
.list_of_secrets:hover #greyfolder{
  display: none;
  }
.list_of_secrets_folder{
  padding-top: 3px;
  width: 30px;
  height:30px;
}
.list_of_secrets_delete{
  height:15px;
  width:15px;
}
.list_of_secrets:hover{
  cursor: pointer;
  background-image: linear-gradient(to right, #72134b, #1d212c);
}
.image_text{
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}
#secretscounting{
  display: flex;
  column-gap: 0.5rem;
  color:#454c5e;
  padding:0.5rem 0;
}
#lastUpdated{
  font-size: 12px;
  font-weight: 100;
}
.secretsItems{
  width:70%;
  /* height:4rem; */
}
.secretsItems p{
  width:15rem;
  text-overflow: ellipsis;
  overflow: hidden;
  /* height:2rem; */
}
#deleteImage{
  display: none;
}
.list_of_secrets:hover #deleteImage {
display: inline;
}
.deleteImagebg{
  display: flex;
  width:30px;
  height:30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.deleteImagebg:hover{
  background-color: #454c5e;
}
#editImage{
  display:none;
}
.activesafe #editImage{
  display: inline;
}







@media (min-width:1700px) and (max-width:1900px) {
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  header{
    height:5rem;
  }
  #tvaultimage{
    width:15%;
  }
  .nav{
    width:70%;
    padding-right:0;
  }
  #accounts{
    width:19%;
  }
  .nav ul{
    height:5rem;
  }
  .nav li{
width:100%;
font-size: 1.2rem;
  }
  #bodycontainer,#bodycontainer_safe{
    height:calc(100vh - 5rem);
    padding:3rem 9rem;
  }
  #bodycontainer ,#bodycontainer p{
    font-size: 1.5rem;
  }
  #safes,#allsafes{
height:calc(100vh - 12rem);
  }
  #secrets{
    height:calc(100vh - 11.5rem);
    width:65%;
  }
  #safehead{
    font-size: 1rem;
  }
  #searchbar input{
    width: 20rem;
    height: 2.5rem;
  font-size: 1.2rem;
  }
  #image_computer {
    width: 12rem;
  }
  #create-text {
    font-size: 1rem;
    /* padding: 0 1.2rem; */
}
#secretshead img{
  height:11.6rem;
}
#inputvalue,
#dropdown {
  height: 13%;
  width: 100%;
}
#description {
  height: 25%;
  width: 100%;
}
#popup_button{
  padding-top: 4rem;
}
#list-create-image {
  bottom: 4.5rem;
  width: 60px;
  height: 60px;
  left: 39rem;
}
}

@media (min-width:1900px) and (max-width:2100px) {
  *{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  header{
    height:5rem;
  }
  #tvaultimage{
    width:12%;
    font-size:2.5rem;
  }
  #tvaultimage img{
    width:3rem;
    height:3rem;
    }
  .nav{
    width:67%;
    padding-right:0;
  }
  #accounts{
    width:21%;
    font-size: 1.2rem;;
  }
  #accounts img{
    width: 2rem;
      height: 2rem;
  }
  .nav ul{
    height:5rem;
  }
  .nav li{
  width:100%;
  font-size: 1.3rem;
  }
  #bodycontainer ,#bodycontainer p{
    font-size: 2rem;
  }
  #bodycontainer,#bodycontainer_safe{
    height:calc(100vh - 5rem);
  }
  #safes,#allsafes{
    height:calc(100vh - 12rem);
  }
  #allsafes{
    margin-top:10px;
  }
  #secrets{
    height:calc(100vh - 11.5rem);
    width:65%;
  }
  #secretshead img{
    height:14.6rem;
  }
  #safehead{
    font-size: 1.5rem;
  }
  #searchbar input{
    width: 20rem;
    height: 2.5rem;
  font-size: 1.2rem;
  }
  #image_computer {
    width: 13rem;
  }
  #create-text {
    font-size: 1rem;
    /* padding: 0 1.2rem; */
}
#inputvalue,
#dropdown {
  height: 15%;
  width: 100%;
}
#description {
  height: 35%;
  width: 100%;
}
#popup_button{
  padding-top: 7rem;
}
#list-create-image {
  bottom: 4.5rem;
  width: 75px;
  height: 75px;
  left: 43rem;
}
}

@media (min-width:2160px) and (max-width:4600px) {
*{
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}
header{
  height:6rem;
}
#tvaultimage{
  width:12%;
  font-size:2.5rem;
}
#tvaultimage img{
  width:5rem;
  height:5rem;
  }
.nav{
  width:67%;
  padding-right:0;
}
#accounts{
  width:21%;
  font-size: 1.5rem;
}
#accounts img{
  width: 2rem;
    height: 2rem;
}
.nav ul{
  height:6rem;
}
.nav li{
width:100%;
font-size: 1.7rem;
}
#bodycontainer,#bodycontainer_safe{
  height:calc(100vh - 6rem);
}
#bodycontainer ,#bodycontainer p{
  font-size: 3rem;
}
#safes,#allsafes{
    height:calc(100vh - 13rem);
}
#allsafes{
  margin-top:11px;
}
#secrets{
  height:calc(100vh - 12.5rem);
  width:65%;

}
#safehead{
  font-size: 2rem;
}
#searchbar input{
  width: 25rem;
  height: 3.2rem;
  font-size: 1.2rem;
}
#image_computer {
  width: 15rem;
}
#create-text {
  font-size: 1.1rem;
  /* padding: 0 1.5rem; */
}
#head_secrets{
  height:26%;
}
#secretshead img {
  height: 20.2rem;
}
#secrets-bottom{
  height:74%;
}
#locker{
  padding:6.7rem 16rem;
}
#locker-image{
  height:15rem;
}
#locker-para{
  font-size: 2.2rem;
}
#inputvalue,
#dropdown {
  height: 22%;
  width: 100%;
}
#description {
  height: 55%;
  width: 100%;
}
#popup_button{
  padding-top: 16rem;
}
#list-create-image {
  bottom: 4.5rem;
  width: 80px;
  height: 80px;
  left: 51rem;
}
}
 