*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #151820;
}
header{
  display: flex;
  justify-content: space-between;
  height: 5rem;
  padding: 0 5rem;
  align-items: center;
  background-color: #151820;
  color:aliceblue;
  font-size: 1.25rem;
  box-shadow: 0 0.3rem 3rem 0rem #72134b ;
  margin-bottom: 0.5rem;
}
#tvaultimage{
  display: flex;
  column-gap: 5px;
  align-items: center;
}
nav {
  display: flex;
  font-family:'Helvetica Neue';
  align-items: stretch;
}
nav a{
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
nav a{
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 1.8rem 0.5rem;
}
nav li{
  list-style: none;
}
#actived{
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
nav a:hover{
  cursor: pointer;
  background-image: linear-gradient(to top, #72134b, #1d212c);
}
nav a{
  height: 100%;
  text-decoration: none;
  color: #fff;
}
#accounts{
  display: flex;
  font-size: 1rem;
  align-items: center;
column-gap: 1rem;
font-family: "Roboto";
}
#documents{
  display: flex;
column-gap: 5px;
align-items: center;
}
#textcolor{
  color: #72134b;
}
#bodycontainer{
  border-top: 0 0.5rem 3rem 0.5rem #72134b ;
  padding: 5rem 9rem;
  height:calc(100vh - 5rem);
  background-color: #1d212c;
  color:#fff;
  font-size: 1rem;
}
#safes{
  display: flex;
  padding: 3rem 9rem;
  height:calc(100vh - 5rem);
  background-color: #1d212c;
  color:#fff;
  font-size: 1rem;
}
#allsafes{
  background-color:#151820;
  width:40%;
  margin-top: 8px;
}
#safehead{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #2a2e3e;
position:relative;
}
#safecard{
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-family: "Roboto";
  color:#fff;
}
#safecard img{
  height:9px;
  width:8px;
}
#text{
  padding-left:2rem;
}
#zero{
  color: #5e627c;
}
#searchbar {
margin-right: 1.5rem;
background-color: #20232e;
display: flex;
}
#searchbar input{
  background: #20232e;
    border: none;
    width: 15rem;
    height: 1.5rem;
    outline: none;
    color: #fff;
    gap: 0;
}
#computer{
  padding:4rem 8rem;
  justify-content: center;
}
#create-image{
  margin-top: 1rem;
  margin-left: 4rem;
}
#no-safes{
  font-family: "Roboto";
  color:#fff;
  font-size: 1.25rem;
  padding:0.5rem 0;
}
#create-a-safe{
font-family: "Helvetica";
color:#c4c4c4;
font-size: 0.85rem;
}
#container-secrets{
  position: absolute;
    bottom: 4.3rem;
    right: 8rem;
}
#secretshead{
  
  /* background-color: #151820; */
  height:11.9rem;
  position: relative;
}
#secrets-bottom{
  width: 48rem;
    height: 22.2rem;
    padding: 1rem;
    background-image: linear-gradient(to top, #151820, #2c3040);
}
#bottom-indicator{
  position: relative;
  width:46rem;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #5e627c;
}
#navigation-secrets{
  height:100%;
  width: 10rem;
  display: flex;
  justify-content: space-between;
}
#navigation-secrets li{
  height: 100%;
  padding-bottom:0.5rem;
  list-style: none;
  color:#5e627c
}
#secrets-active{
  color:#fff;
  border-bottom: 5px solid #72134b;
}
#navigation-secrets li:hover{
    color:#fff;
    border-bottom: 5px solid #72134b;
}
#add-folders{
  width: 7.5rem;
  display: flex;
  justify-content: space-between;
}
#add-folders p{
  color:#5e627c;
}
#locker{
  padding: 0 5rem;
  align-items: center;
  text-align: center;
}
#locker-para{
  padding:0 8rem;
}
#locker-image{
  padding:1rem 15rem 0 15rem;
 height:10rem;
}
#create-secrets{
  padding: 0 16rem;
  align-items: center;

}
#secrets{
  gap:0;
}
#add-secrets{
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding:0.25rem;
  margin-top: 0.5rem;
  background-color:  #5e627c; 
}
#add-secrets-image{
  height:12px;
}